<div class="max-w-lg mx-auto pt-10 pb-12 px-4 lg:pb-16">
  <%= form_with model: @menu, local: true do |f| %>
    <div class="space-y-6">
      <div>
        <h1 class="heading">
          Create a new Menu
        </h1>
        <p class="mt-1 text-sm text-gray-500">Enter your sheetmenu information below</p>
      </div>
      <div>
        <%= f.label :sheet_key, class: 'block text-sm font-medium text-gray-700' %>
        <%= f.text_field :sheet_key, placeholder: "MAw1XnHOE6TfaRGof6gxa-BYrUGXpe84Qtt9o7nv1-0", class:'block w-full shadow-sm focus:ring-sky-400 focus:border-sky-400 sm:text-sm border-gray-400 rounded-md mt-3' %>
      </div>
      <div class="flex justify-end">
        <%= f.submit "Create Menu", class:'inline-block  w-full cursor-pointer px-6 py-2.5 bg-blue-600 my-3 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out' %>
      </div>
    </div>
  <% end %>
</div>
