<!-- Navbar -->
<nav class="navbar navbar-expand-lg shadow-md py-2 bg-white relative flex items-center w-full justify-between">
  <div class="px-6 w-full flex flex-wrap items-center justify-between md:flex-row-reverse md:w-4/5 mx-auto">
    <div class="flex items-center w-full flex-row justify-between md:justify-center md:w-2/12">
      <button
        class="navbar-toggler border-0 py-3 lg:hidden leading-none text-xl bg-transparent text-gray-600 hover:text-gray-700 focus:text-gray-700 transition-shadow duration-150 ease-in-out mr-2"
        type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContentY"
        aria-controls="navbarSupportedContentY" aria-expanded="false" aria-label="Toggle navigation">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" class="w-5" role="img"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path fill="currentColor"
            d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">
          </path>
        </svg>
      </button>
      <!-- User Mobile Section -->
      <div class="user-section">
        <% if signed_in? %>
          <div class="dropdown relative">
            <a class="dropdown-toggle flex items-center hidden-arrow" href="#" id="dropdownMenuButton2" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://mdbootstrap.com/img/new/avatars/2.jpg" class="rounded-full"
              style="height: 25px; width: 25px" alt="" loading="lazy" />
            </a>
            <ul
            class="dropdown-menu min-w-max absolute hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded-lg shadow-lg mt-1 hidden m-0 bg-clip-padding border-none left-auto right-0"
            aria-labelledby="dropdownMenuButton2">
              <li>
                <a class="dropdown-item text-sm py-2 px-6 font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100"
                href="#">Edit Profile</a>
              </li>
              <li>
                <%= button_to "Log out", destroy_user_session_path, method: :delete , class: 'dropdown-item text-sm py-2 px-6 font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100' %>
              </li>
            </ul>
          </div>
        <% else %>
          <%= link_to 'Login', new_user_session_path, class: 'btn px-6 py-2 bg-blue-500 hover:bg-blue-400 transition duration-150 ease-in  hover:ease-out mr-3 text-white rounded' %>
        <% end %>
      </div>
    </div>
    <div class="navbar-collapse collapse grow items-center md:w-10/12" id="navbarSupportedContentY">
      <ul class="navbar-nav mr-auto lg:flex lg:flex-row">
        <li class="nav-item">
          <%= link_to root_path, class: 'nav-link block pr-2 lg:px-2 py-2 text-gray-600 hover:text-gray-700 focus:text-gray-700 transition duration-150 ease-in-out' do %>
            Home
          <% end %>
        </li>
        <li class="nav-item">
          <a class="nav-link block pr-2 lg:px-2 py-2 text-gray-600 hover:text-gray-700 focus:text-gray-700 transition duration-150 ease-in-out"
            href="#!" data-mdb-ripple="true" data-mdb-ripple-color="light">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link block pr-2 lg:px-2 py-2 text-gray-600 hover:text-gray-700 focus:text-gray-700 transition duration-150 ease-in-out"
            href="#!" data-mdb-ripple="true" data-mdb-ripple-color="light">Pricing</a>
        </li>
        <li class="nav-item mb-2 lg:mb-0">
          <a class="nav-link block pr-2 lg:px-2 py-2 text-gray-600 hover:text-gray-700 focus:text-gray-700 transition duration-150 ease-in-out"
            href="#!" data-mdb-ripple="true" data-mdb-ripple-color="light">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->
